:link,:visited{text-decoration:none;}
ul,ol{list-style:none;}
h1{font-size:2.5em;}
h2{font-size:2em;}
h3{font-size:1.75em;}
h4{font-size:1.5em;}
h5{font-size:1.25em;}
h6{font-size:1.1em;}
pre,code{font-size:1em;}
a img,:link img,:visited img{border:none;}
html,body,form,input,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,table,thead,tbody,tfoot,th,tr,td,pre,p,blockquote,fieldset{margin:0;padding:0;}
address{font-style:normal;}
table{border-collapse:collapse;}
body {
    font-family: Georgia, Times, serif;
	margin: 20px auto;
	overflow-y: scroll;
	width: 960px;
}
#header {
	margin: 0 auto;
	width: 960px;
}
h1 {
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 10px;
}
#map-canvas {
	height: 600px;
	margin: 20px 0 0;
	width: 960px;
}